* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.main{
    /*background-color: rgb(12, 189, 189);*/
    width: auto;
    background: linear-gradient(45deg, rgb(225, 228, 47),rgb(17, 204, 57));
}
#text{
    text-decoration: solid;
    font-size: x-large;
    font-weight: bold;
    color: rgb(202, 28, 28);
}
.box {
    background-color: rgb(203, 139, 216);
    width: 200px;
    height: 200px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    width: 200px;
    height: 200px;
    background-color: #83cf20;
    border: 1px solid rgb(12, 12, 12);
    padding: 20px;
}
.b{
    font-size: x-large;
}